<ion-view title="Page" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <h1 id="page-heading2" style="color:#000000;font-weight:300;font-style:italic;text-align:center;">Niña Errante</h1>
    <a href-inappbrowser="https://mistral.netlify.com/errante.pdf" id="page-button1" style="font-style:italic;" class="button button-royal">Descarga</a>
    <a href-inappbrowser="https://github.com/ignaciocastro/mistral/raw/master/errante.pdf" id="page-button2" style="font-style:italic;text-align:right;" class="button button-royal">Alternativo 1</a>
    <a href-inappbrowser="https://rawcdn.githack.com/ignaciocastro/mistral/16022b77af71efe7d3990728e0bf28e3b59ecdf6/errante.pdf" id="page-button3" style="font-style:italic;" class="button button-royal">Alternativo 2</a>
    <a href-inappbrowser="https://mistral.now.sh/errante.pdf" id="page-button4" style="font-style:italic;" class="button button-royal">Alternativo 3</a>
    <a href-inappbrowser="https://z.zz.ht/VRZ7Y.pdf" id="page-button5" style="font-style:italic;" class="button button-royal">Alternativo 4</a>
    <a href-inappbrowser="https://femto.pw/3nsv.pdf" id="page-button6" style="font-style:italic;" class="button button-royal">Alternativo 5</a>
    <a href-inappbrowser="https://mistral.onrender.com/errante.pdf" id="page-button7" style="font-style:italic;" class="button button-royal">Alternativo 6</a>
    <a href-inappbrowser="https://files.catbox.moe/vb1og1.pdf" id="page-button8" style="font-style:italic;" class="button button-royal">Alternativo 7</a>
    <a href-inappbrowser="https://share.dmca.gripe/ITc3QSzyNQJ0fNea.pdf" id="page-button9" style="font-style:italic;" class="button button-royal">Alternativo 8</a>
    <a href-inappbrowser="https://ignacio.s-ul.eu/AJgjbsdF" id="page-button10" style="font-style:italic;" class="button button-royal">Alternativo 9</a>
    <a href-inappbrowser="https://lithi.io/file/iuGL.pdf" id="page-button11" style="font-style:italic;" class="button button-royal">Alternativo 10</a>
    <a href-inappbrowser="https://cloud.spryservers.net/s/FcGXWnMY2wdGCGA" id="page-button12" style="font-style:italic;" class="button button-royal">Alternativo 11</a>
    <a href-inappbrowser="https://emma.cloud.tabdigital.eu/s/y8H9eaMtBP7Rn83" id="page-button13" style="font-style:italic;" class="button button-royal">Alternativo 12</a>
    <a href-inappbrowser="https://icedrive.net/0/1dXOwGLTqT" id="page-button14" style="font-style:italic;" class="button button-royal">Alternativo 13</a>
    <a href-inappbrowser="https://e-nautia.com/ignaciocastro/disk/flacs/errante.pdf" id="page-button15" style="font-style:italic;" class="button button-royal">Alternativo 14</a>
    <a href-inappbrowser="https://cloud01.opsdata.ch/index.php/s/BeLCQboe68m24jA" id="page-button16" style="font-style:italic;" class="button button-royal">Alternativo 15</a>
    <div class="spacer" style="width: 283px; height: 25px;"></div>
  </ion-content>
</ion-view>